In [98]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('ggplot')
%matplotlib inline
%pylab inline

%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

### Carregando base de dados

In [99]:
df = pd.read_csv("CEAPS_2008_2019.csv")

### Visualizando o tipo de variável de cada atributo

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268899 entries, 0 to 268898
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ANO                268899 non-null  int64
 1   MES                268899 non-null  int64
 2   SENADOR            268899 non-null  object
 3   TIPO_DESPESA       268899 non-null  object
 4   CNPJ_CPF           265755 non-null  object
 5   FORNECEDOR         265755 non-null  object
 6   DOCUMENTO          246750 non-null  object
 7   DATA               265755 non-null  object
 8   DETALHAMENTO       154368 non-null  object
 9   VALOR_REEMBOLSADO  268897 non-null  float64
dtypes: float64(1), int64(2), object(7)
memory usage: 20.5+ MB

### Visualizando 10 linhas aleatórias

In [101]:
df.sample(10)

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
89905,2012,10,SÉRGIO SOUZA,Aquisição de material de consumo para uso no e...,02.050.639/0002-98,CASA DO ESCRITORIO,8385,11/10/2012,NaN,239.91
56642,2011,7,PAULO PAIM,"Locomoção, hospedagem, alimentação, combustíve...",01.654.604/0002-03,Concessionária Rod. Osório-Porto Alegre S/A,2002701312060044,30/07/2011,NaN,3.70
26987,2010,11,JARBAS VASCONCELOS,"Locomoção, hospedagem, alimentação, combustíve...",03.956.495/0001-15,RPS,179368,24/11/2010,NaN,314.60
215735,2017,6,RAIMUNDO LIRA,Divulgação da atividade parlamentar,06.076.039/0001-79,CNB CENTRAL DE NOTÍCIAS BRASILEIRAS LTDA,1343,23/06/2017,DIVULGAÇÃO DA ATIVIDADE PARLAMENTAR DO SENADOR...,2000.00
51711,2011,1,MARINA SILVA,"Aluguel de imóveis para escritório político, c...",63.600.449/0001-00,Arras Imóveis,12007,20/01/2011,NaN,1400.00
8311,2009,9,HERÁCLITO FORTES,"Aluguel de imóveis para escritório político, c...",06.840.748/0001-89,CEPISA - Companhia Energética do Piauí,NaN,01/09/2009,NaN,711.39
16742,2009,7,ROSALBA CIARLINI,Divulgação da atividade parlamentar,03.348.102/0001-90,Alexandre Ferreira Mulatinho,001064,04/08/2009,NaN,2000.00
109173,2013,5,LÍDICE DA MATA,"Aluguel de imóveis para escritório político, c...",01.996.385/0001-51,BACONE SERVIÇOS CENTRAIS TELEFÕNICOS E COMÉRCI...,2013461,07/05/2013,DESPESA COM LOCAÇÃO DE CENTRAL TELEFÕNICA NO E...,230.00
67691,2012,6,CASILDO MALDANER,Aquisição de material de consumo para uso no e...,73.403.362/0001-05,Folha do Oeste - Editora Jornalistica Folha do...,008969,20/06/2012,NaN,320.00
18231,2009,11,VALTER PEREIRA,Divulgação da atividade parlamentar,03.379.930/0001-96,SOCIEDADE RADIO CLUBE DE CORUMBÁ LTDA,2279,18/11/2009,NaN,450.00

### Excluindo o atributo Documentos

In [102]:
df.drop('DOCUMENTO', axis=1, inplace=True)

### verificando valores nulos

In [103]:
df.isnull().any()

ANO                  False
MES                  False
SENADOR              False
TIPO_DESPESA         False
CNPJ_CPF              True
FORNECEDOR            True
DATA                  True
DETALHAMENTO          True
VALOR_REEMBOLSADO     True
dtype: bool

In [104]:
df.CNPJ_CPF = df.CNPJ_CPF.fillna('Nao Informado')
df.FORNECEDOR = df.FORNECEDOR.fillna('Nao Informado')
df.DETALHAMENTO = df.DETALHAMENTO.fillna('Nao Informado')
df.DATA = df.DATA.fillna('Nao Informado')

In [105]:
df[df['VALOR_REEMBOLSADO'].isnull()]

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
149869,2015,8,EDUARDO AMORIM,"Passagens aéreas, aquáticas e terrestres nacio...",13.353.495/0001-84,PROPAGTUR - Propag Turismo Ltda,"Companhia Aérea: TAM, Localizador: YXGDSJ. Pas...","469,53",NaN
149876,2015,8,EDUARDO AMORIM,"Passagens aéreas, aquáticas e terrestres nacio...",13.353.495/0001-84,PROPAGTUR - Propag Turismo Ltda,"Companhia Aérea: AVIANCA, Localizador: ZNEU9F....","460,45",NaN

In [106]:
df.loc[[149869],'VALOR_REEMBOLSADO']=df.loc[[149869],'VALOR_REEMBOLSADO'].replace(NaN, 469.53)
df.loc[[149876],'VALOR_REEMBOLSADO']=df.loc[[149876],'VALOR_REEMBOLSADO'].replace(NaN, 460.45)

In [107]:
df.loc[[149869,149876]]

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
149869,2015,8,EDUARDO AMORIM,"Passagens aéreas, aquáticas e terrestres nacio...",13.353.495/0001-84,PROPAGTUR - Propag Turismo Ltda,"Companhia Aérea: TAM, Localizador: YXGDSJ. Pas...","469,53",469.53
149876,2015,8,EDUARDO AMORIM,"Passagens aéreas, aquáticas e terrestres nacio...",13.353.495/0001-84,PROPAGTUR - Propag Turismo Ltda,"Companhia Aérea: AVIANCA, Localizador: ZNEU9F....","460,45",460.45

In [108]:
df.isnull().any()

ANO                  False
MES                  False
SENADOR              False
TIPO_DESPESA         False
CNPJ_CPF             False
FORNECEDOR           False
DATA                 False
DETALHAMENTO         False
VALOR_REEMBOLSADO    False
dtype: bool

In [109]:
df[df['VALOR_REEMBOLSADO']<0]

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
162849,2015,1,RANDOLFE RODRIGUES,"Passagens aéreas, aquáticas e terrestres nacio...",02.012.862/0001-60,Tam Linhas Aereas S/A,28/01/2015,"9572100929351 - R$ 1.298,93 (1º bilhete emitid...",-9.0
200967,2017,5,DÁRIO BERGER,"Contratação de consultorias, assessorias, pesq...",73.228.876/0001-63,TV CLIPAGEM LTDA. EPP.,02/06/2017,Despesa com Monitoramento de Informação Jornal...,-243.4

### Convertendo os valores negativos para valores absolutos

In [110]:
df['VALOR_REEMBOLSADO'] = abs(df['VALOR_REEMBOLSADO'])